In [2]:
# decision tree, logistic regression, knn
# f score, accuracy, precision, recall
import pandas as pd
df = pd.read_csv(r"C:\Users\admin\Downloads\drug200.csv",delimiter=',',error_bad_lines= False)
print("The first 5 rows of the dataframe") 
df.head(5)

C:\Users\admin\AppData\Local\Temp/ipykernel_26104/1789982133.py:4: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv(r"C:\Users\admin\Downloads\drug200.csv",delimiter=',',error_bad_lines= False)

The first 5 rows of the dataframe

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [4]:
df.isnull().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [5]:
df.dtypes

Age              int64
Sex             object
BP              object
Cholesterol     object
Na_to_K        float64
Drug            object
dtype: object

In [45]:
df['Sex'] = df['Sex'].astype('float')
df['BP'] = df['BP'].astype('float')
df['Cholesterol'] = df['Cholesterol'].astype('float')
df['Drug'] = df['Drug'].astype('float')
#identify all categorical variables
#cat_columns = df.select_dtypes(['object']).columns

#convert all categorical variables to numeric
#df[cat_columns] = df[cat_columns].apply(lambda x: pd.factorize(x)[0])

In [46]:
df.dtypes

Age              int64
Sex            float64
BP             float64
Cholesterol    float64
Na_to_K        float64
Drug           float64
dtype: object

In [47]:
df.head(5)

   Age  Sex   BP  Cholesterol  Na_to_K  Drug
0   23  0.0  0.0          0.0   25.355   0.0
1   47  1.0  1.0          0.0   13.093   1.0
2   47  1.0  1.0          0.0   10.114   1.0
3   28  0.0  2.0          0.0    7.798   2.0
4   61  0.0  1.0          0.0   18.043   0.0

In [48]:
df.corr()["Drug"]

Age            0.116672
Sex            0.084186
BP            -0.171052
Cholesterol    0.061895
Na_to_K       -0.679433
Drug           1.000000
Name: Drug, dtype: float64

In [49]:
m=df.corr()["Drug"]
list_keys = list(m.keys())
list_Values = m.to_list()
t = dict(zip(list_keys,list_Values))
t_final = {}
for x in t:
  if t[x]>0.5 or t[x]<-0.5:
    t_final.update({x:t[x]})
print(t_final)

t_final.keys()

{'Na_to_K': -0.6794325875895756, 'Drug': 1.0}

dict_keys(['Na_to_K', 'Drug'])

In [50]:
from sklearn.model_selection import train_test_split

#divide x_data and y_data
y_data = df['Drug']
x_data=df.drop(['Drug'],axis=1)

x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.2, random_state=1)
#random_state=1 gives you different results everytime

print("number of test samples :", x_test.shape[0])
print("number of training samples:",x_train.shape[0])

#x_train.head(5)
#x_test.head(5)
#y_train.head(5)
#y_test.head(5)

number of test samples : 40
number of training samples: 160

In [51]:
############## LOGISTIC REGRESSION

from sklearn.linear_model import LogisticRegression
LR = LogisticRegression(random_state=0,class_weight="balanced").fit(x_train, y_train)
LR

C:\Users\admin\anaconda3\envs\dmw5\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(class_weight='balanced', random_state=0)

In [52]:
yhat1 = LR.predict(x_test)
yhat1

array([2., 0., 1., 1., 0., 2., 2., 0., 0., 0., 2., 1., 0., 2., 4., 3., 2.,
       2., 4., 0., 2., 2., 2., 1., 4., 2., 2., 0., 4., 2., 1., 0., 0., 0.,
       3., 0., 3., 0., 0., 2.])

In [59]:
from sklearn.metrics import jaccard_score
jaccard_score(y_test, yhat1, average = 'micro')

0.7391304347826086

In [88]:
# log loss won't work here

In [28]:
#Confusion Matrix
from sklearn.metrics import confusion_matrix,precision_score, recall_score, f1_score, accuracy_score
confusion_matrix(y_test, yhat1, labels=[1,0])

array([[ 3,  0],
       [ 1, 14]], dtype=int64)

In [54]:
from sklearn.metrics import precision_recall_fscore_support
precision_recall_fscore_support(y_test, yhat1, average='macro')

(0.85, 0.85, 0.85, None)

In [74]:
print('Precision: %.3f' % precision_score(y_test, yhat1,average="macro"))
print('Recall: %.3f' % recall_score(y_test, yhat1,average="macro"))
print('Accuracy: %.3f' % accuracy_score(y_test, yhat1))
print('F1 Score: %.3f' % f1_score(y_test, yhat1,average="macro"))

Precision: 0.791
Recall: 0.849
Accuracy: 0.850
F1 Score: 0.797

In [75]:
###################### KNN

In [96]:
from sklearn.neighbors import KNeighborsClassifier
k = 3
#Train Model and Predict  
neigh = KNeighborsClassifier(n_neighbors = k).fit(x_train,y_train)
neigh

KNeighborsClassifier(n_neighbors=3)

In [97]:
knnyhat = neigh.predict(x_test)
knnyhat[0:10]

array([1., 0., 2., 1., 0., 2., 3., 0., 0., 0.])

In [98]:
# log loss won't work here

In [99]:
from sklearn.metrics import jaccard_score
jaccard_score(y_test, knnyhat, average='micro')

0.48148148148148145

In [100]:
#Confusion Matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, knnyhat, labels=[1,0])

array([[ 2,  0],
       [ 0, 16]], dtype=int64)

In [101]:
from sklearn.metrics import precision_recall_fscore_support
precision_recall_fscore_support(y_test, knnyhat, average='macro')

(0.5587301587301587, 0.6151583710407239, 0.5127272727272728, None)

In [102]:
print('Precision: %.3f' % precision_score(y_test, knnyhat,average="macro"))
print('Recall: %.3f' % recall_score(y_test, knnyhat,average="macro"))
print('Accuracy: %.3f' % accuracy_score(y_test, knnyhat))
print('F1 Score: %.3f' % f1_score(y_test, knnyhat,average="macro"))

Precision: 0.559
Recall: 0.615
Accuracy: 0.650
F1 Score: 0.513

In [103]:
############ Decision Tree

In [107]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
decision_tree = tree.DecisionTreeClassifier(criterion="entropy", max_depth = 5)
decision_tree = decision_tree.fit(x_train, y_train)

In [108]:
ypred = decision_tree.predict(x_test)
score = accuracy_score(y_test, ypred)
print(score)

1.0

In [109]:
score1 = decision_tree.score(x_test, y_test)
print(score1)

1.0

In [ ]:
# Models according to their performance:
# 1. Decision Tree
# 2. Logistic Regression
# 3. KNN